DATABASE_URL="postgresql://user:password@ep-xxxx-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://user:password@ep-xxxx.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET="sua-chave-secreta-aqui"
PORT=3333
FRONTEND_URL="http://localhost:3000"
